<div class="post">
    <article class="card">
        <div class="card-header flex-row justify-space-between">
            <h2>{{post.title}}</h2>
            <div>
                Posted by {{post.User.username}} on {{format_date post.createdAt}}
            </div>
        </div>
        <div class="card-body">
            {{post.body}}
        </div>
    </article>

    {{#if post.Comments}}
        <section class="card">
            <div class="card-header">
                <h3>Comments</h3>
            </div>

            <div class="card-body">
                {{#each post.Comments}}
                    <div>
                        <p>
                            {{body}}
                        </p>
                        <p>
                            &mdash; {{User.username}}, {{format_date createdAt}}
                        </p>
                    </div>
                {{/each}}
            </div>
        </section>
    {{/if}}

{{!-- {{WRITE THIS ONE LATER}} --}}
    {{#if loggedIn}}
    <form id="new-comment-form" class="card">
        <div class="card-header">
            <textarea name="comment-body"></textarea>
        </div>
        <div>
            <button type="submit">ADD COMMENT</button>
        </div>
    </form>
    {{/if}}

    {{> comments post.comments}}

    {{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
    {{/if}}
</div>